name: Linux build

on:
  pull_request:
    branches: [master, v1.x]
    paths:
      - "*.h"
      - "*.cpp"
      - "CMakeLists.txt"
      - "cmake/**"
      - "library.properties" # CMake gets lib info from here
      - "examples_RPi/*"
      - "!**Makefile" # old build system is not tested in this workflow
      - "**pyRF24Network/setup.py"
      - "**pyRF24Network/*.cpp"
      - ".github/workflows/linux_build.yml"
  push:
    branches: [master, v1.x]
    paths:
      - "*.h"
      - "*.cpp"
      - "CMakeLists.txt"
      - "cmake/**"
      - "library.properties" # CMake gets lib info from here
      - "examples_RPi/**"
      - "!**Makefile" # old build system is not tested in this workflow
      - "**pyRF24Network/setup.py"
      - "**pyRF24Network/*.cpp"
      - ".github/workflows/linux_build.yml"
    tags: ["*"]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  using_cmake:
    uses: nRF24/.github/.github/workflows/build_linux_cmake.yaml@review-ci
    with:
      rf24network-ref: ${{ github.sha }}
      compiler: ${{ matrix.toolchain.compiler }}
      usr-dir: ${{ matrix.toolchain.usr_dir }}
      examples-path: examples_RPi
      py-wrapper-path: RPi/pyRF24Network
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - compiler: "armhf"
            usr_dir: "arm-linux-gnueabihf"
          - compiler: "arm64"
            usr_dir: "aarch64-linux-gnu"
          # - compiler: "x86_64"
          #   usr_dir: "x86_64-linux-gnux32"
          # - compiler: "i686"
          #   usr_dir: "i686-linux-gnu"
          - compiler: "default" # github runner is hosted on a "amd64"
            usr_dir: "local"

  deploy-release-assets:
    needs: [using_cmake]
    permissions:
      # needed for uploading release assets
      contents: write
    if: startsWith(github.ref, 'refs/tags/')
    uses: nRF24/.github/.github/workflows/deploy_cpack_artifacts.yaml@review-ci
    secrets: inherit
