name: nRF52840 build

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  build:
    uses: nRF24/.github/.github/workflows/build_platformio.yaml@review-ci
    with:
      example-path: ${{ matrix.example }}
      board-id: ${{ matrix.board }}
      lib-deps: -l https://github.com/TMRh20/nrf_to_nrf.git
    strategy:
      fail-fast: false
      matrix:
        example:
          - "examples/nrf_to_nrf/helloworld_rx/helloworld_rx.ino"
          - "examples/nrf_to_nrf/helloworld_tx/helloworld_tx.ino"
          - "examples/nrf_to_nrf/helloworld_rxEncryption/helloworld_rxEncryption.ino"
          - "examples/nrf_to_nrf/helloworld_txEncryption/helloworld_txEncryption.ino"
        board:
          - "adafruit_feather_nrf52840"
