name: check code formatting

on:
    push:
        branches: [master, v1.x]
    pull_request:
        branches: [master, v1.x]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  check_formatting:
    uses: nRF24/.github/.github/workflows/cpp_lint.yaml@review-ci
    permissions:
      # needed to detect changed files
      contents: read
      # needed to post review suggestions on PRs
      pull-requests: write
    with:
      extensions: ino,c,cpp,h