name: Docs

on:
  pull_request:
    branches: [master, v1.x]
    paths:
      - "*.h"
      - "docs/**"
      - "!docs/README.md"
      - "*.md"
      - "images/**"
      - ".github/workflows/doxygen.yml"
      - "Doxyfile"
      - "library.properties" # get lib version from here
  push:
    branches: [master, v1.x]
    paths:
      - "*.h"
      - "docs/**"
      - "!docs/README.md"
      - "*.md"
      - "images/**"
      - ".github/workflows/doxygen.yml"
      - "Doxyfile"
      - "library.properties" # get lib version from here
    tags: ["*"]
  workflow_dispatch:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  build:
    uses: nRF24/.github/.github/workflows/build_docs.yaml@main
    with:
      doxygen-version: '1.15.0'

  deploy:
    needs: [build]
    if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/')
    permissions:
      # to authenticate the gh-pages environment
      id-token: write
      # to upload to GitHub Pages
      pages: write
    uses: nRF24/.github/.github/workflows/deploy_docs.yaml@main
    secrets: inherit
